
/* Hero section */

.hero{
    margin:120px 0px;
}

.pic1{
    width:80rem;
}


/* section 1 cards */

.icon{
    display:block;
    margin: auto;
}


.section1 .card{
    border:0;
}


/* section2 */

.section2{
    margin:100px 0px;
}

.pic2{
    width:75rem;
}

/* text styling */

.color{
    color: darkorchid;
    font-weight: bolder;
}

.card_para{
    font-size:0.8rem;
}

/* anchor */

a{
    font-size:small;
}

a:hover{
    color:black;
}

/* footer */

footer{
    background-color:darkorchid;
}

.ftr_para{
    font-size: 0.5rem;
}